body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.image-container{
    box-sizing: border-box;
    border: 50px solid white; 
    width:100%;
    height:100%;
    opacity: 0.3;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../slideshow-small/1.jpg");
}

.nav-container {
    position:fixed;
    height:60px;
    width:100%;
    background-color: white;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 1;
}

.nav-items {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    top:50%;
    -webkit-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
}

a {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    padding-left:30px;
    padding-right:30px;
    text-decoration: none;
}

.two-column-left{
    float:left;
    width:48%;
}

.asterisk{
    padding-left:5px;
    color:gray;
}

.two-column-right{
    float:right;
    width:48%;
}

.sub-section{
    position:relative;
    height:100%;
    width:100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.sub-text{
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color:gray;
}



.rsvp-header{
    position: relative;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

button{
    height:38px;
    width:120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color:black;
    background:none;
    border: 1px solid black;
    border-radius: 2px;
    letter-spacing: .07em;
    cursor: pointer; /* Safari */
    transition: border, color .2s;
}

button:hover {
    border: 1px solid gray;
    color:gray;
}

h1 {
    font-size: 72px;
    font-family: 'Kristi', cursive;
    font-weight: 200;
    color:#F4D2BA;
    padding-bottom: 4px;
    margin-top:0px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

p {
    display: block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 40px;
    padding-right:40px;
    line-height: 28px;
}

fieldset {
    padding: inherit;
    padding-bottom: 15px;
    border:none;
}

label {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:black;
}

input, textarea {
    margin-top:5px;
    font-family: 'Montserrat', sans-serif;
    padding-left:6px;
}

#rsvp{
    background-color: white;
    color:black;
    width:100%;
}

#venue::after {
    content: "";
    background-image: url("http://www.viansa.com/static/images/2016/the-estate/vs-the-estate-view.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#hotel::after {
    content: "";
    background-image: url("https://www.hotelpetaluma.com/gallery-images/properties/1/1/3/IMG_0731blended.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.txt{
    /*color:white;*/
}

.form{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width:100%;
}

.form-block {
    width:50%;
    max-width: 600px;
}

.input-field {
    padding-bottom: 20px;
}

.form-block input, textarea{
    width:100%;
    height:25px;
    border: 2px solid #efefef;
}

textarea{
    width:100%;
    resize:none;
    border-color: #efefef;
    height:60px;
}

.jams-block{
    width:698px;
    height:388px;
    margin-top:50px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.sub-head{
    text-align: center;
    margin-top:0px;
}

iframe{
    width:700px;
    height:390px;
    left:-1px;
    bottom:-1px;
    position: relative;
    transition: translate(10%);
}

.aligner-top{align-self: flex-start;}
.aligner-bottom{align-self: flex-end;}

.title-block {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Meddon', cursive;
    font-size: 5vw;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 
}

.date {
    color:#fff0e5;
    font-size: 7vw;
    letter-spacing: .2em;
    text-align: center;
    font-family: 'Kristi', cursive;
}
.title img{
    width:65vw;
    max-width:750px;
    margin-bottom: -40px;
}

.mobile-menu{
    display: none;
    position:fixed;
    right: 10px;
    top: 0px;
    z-index:2;
    /*background-color: aliceblue;*/
}

/*
    HAMBURGER STYLING BEGIN 
*/
    
.mobile-menu * {
  transition: .25s ease-in-out;
  box-sizing: border-box;
}

.mobile-menu span {
  display: block;
  background: #F4D2BA;
  border-radius: 2px;
}

#menu-toggle {
  width: 80px;
  height: 80px;
  margin: 10px auto;
  position: relative;
  position: relative;
  cursor: pointer;

  border-radius: 5px;
}

#menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}

#menu-toggle #hamburger span {
  width: 60%;
  height: 4px;
  position: relative;
  top: 14px;
  left: 16px;
  margin: 10px 0;
}

#menu-toggle #hamburger span:nth-child(1) {
  transition-delay: .5s;
}
#menu-toggle #hamburger span:nth-child(2) {
  transition-delay: .625s;
}
#menu-toggle #hamburger span:nth-child(3) {
  transition-delay: .75s;
}
#menu-toggle #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}
#menu-toggle #cross span:nth-child(1) {
  height: 0%;
  width: 4px;
  position: absolute;
  top: 16%;
  left:38px;
  transition-delay: 0s;
}

#menu-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 4px;
  position: absolute;
  left: 16%;
  top: 38px;
  transition-delay: .25s;
}

#menu-toggle.open #hamburger span {
  width: 0%;
}
#menu-toggle.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}
#menu-toggle.open #hamburger span:nth-child(2) {
  transition-delay: .125s;
}
#menu-toggle.open #hamburger span:nth-child(3) {
  transition-delay: .25s;
}
#menu-toggle.open #cross span:nth-child(1) {
  height: 70%;
  transition-delay: .625s;
}
#menu-toggle.open #cross span:nth-child(2) {
  width: 70%;
  transition-delay: .375s;
}

/*
    HAMBURGER STYLING END
*/

@media screen and (max-width: 600px) {
    .title img{
        width:95vw;
    }
    
    .date{
        font-size: 15vw;
    }
    
    .sub-head{
        font-size:20px;
        widows: 3;
    }
    
    h1{
        font-size: 80px;
    }
    
    .nav-container {
        visibility: hidden;
        height:280px;
        -webkit-transform: translate(-50%,-100%);
        transform: translate(-50%,-100%);
        -webkit-box-shadow: 0px 15px 60px 2px rgba(143,143,143,0.25);
        -moz-box-shadow: 0px 15px 60px 2px rgba(143,143,143,0.25);
        box-shadow: 0px 15px 60px 2px rgba(143,143,143,0.25);
        z-index:1;
    }
    
    .mobile-menu {
        display:block !important;
    }
    
    .nav-items {
        display: -webkit-flex; /* Safari */
        -webkit-flex-direction: column; /* Safari 6.1+ */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }   
    
    .nav-items a {
        margin-top:15px;
        margin-bottom:15px;
        font-size: 20px;
    }
    
    .image-container {
        border: 0px solid white; 
    }
    
    .form{
        width:90%;
    }
    .form-block {
        width:90%;
        max-width: 600px;
    }
    
    .form-block input, textarea {
        height:50px;
        border:1px solid black;
        font-size: 24px;
    }
    
    .side-by-side{
        display: -webkit-flex; /* Safari */
        -webkit-flex-direction: column; /* Safari 6.1+ */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .two-column-right{
        float:left;
        width:100%;
    }
    .two-column-left{
        width:100%;
    }
    .input-field {
        padding-bottom: 0px;
        margin-top:20px;
        margin-bottom:20px;
    }
}
